html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
::-moz-selection{ background: #fd488b; color:#fff; }
::selection { background:#fd488b; color:#fff; } 
a{ color: #454545; }
a:hover{ color: #c1eaf1; }
@font-face {
    font-family: "Cabin";
    font-style: normal;
    font-weight: 400;
    src: local("Cabin Regular"), local("Cabin-Regular"), url("https://themes.googleusercontent.com/static/fonts/cabin/v4/JEgmtEDzc-IH8jBshQXrYA.woff") format("woff");
}


body{
margin: 0;
font-family: "Cabin";
font-size: 15px;
}

.conteneur{margin: 0 auto; width: 1000px; /* border: 1px solid red; */ }
header { height: 110px; background: #fff; }
header  .haut-gauche{ width: 200px; /* background: red; */}
header  .haut-droite{ width: 800px; /* background: blue;  */}
header  .haut-droite-haut{ text-align: right; font-size: 15px; /* background: green; */ }
header  .haut-droite-haut a{ color: #c1eaf1; }
header  .haut-droite-haut a:hover{ color: #000; }
header  img{ margin: 5px 0 0 0; }
header  .haut-gauche, header  .haut-droite{ float: left; }

section{ width: 100%; border-top: 1px solid #c0c0c0; background: url(img/body-bg.png); padding: 0 0 30px 0; }

.information{ background: #04a9c5; margin: 5px 0 ; padding: 5px; color: #fff; }
.ariane{ margin: 5px 0 ; padding: 5px; color: #04a9c5	; }

nav#menu{      margin: 53px 0 0 0; float: right; z-index: 0; }
nav#menu  a{ color: #454545; padding: 4px 20px 0 20px; float: left;  height: 24px;  }
nav#menu  a:hover{ background: #04a9c5;  border-radius: 10px; color: #fff;   }
nav#menu  a:first-child{ padding: 1px 20px 0 20px; }
nav#menu  a:first-child:hover{ -webkit-transform: rotate(-17deg);	-moz-transform: rotate(-17deg);	-o-transform: rotate(-17deg); background: none;  }



/*************** DEBUT CSS MENU *****************/
nav#langue { float: right; z-index: 1000; }
nav#langue ul li{ list-style-type: none;  }
nav#langue ul ul.niveau2{ width: 100px; display: none; text-align: left;  margin: 0 100px 0 0; }
nav#langue ul li a{  text-decoration: none; display: block; width: 100px; }
nav#langue ul li a:hover{  color: #000; }
nav#langue ul{ margin: 5px 0 0 0; padding: 0;  }
nav#langue{  width: 50px; height: 25px;  border-bottom: 1px solid #c0c0c0;  }
nav#langue ul.niveau1 li:hover ul.niveau2{ display: block; background: #c7ecf2; z-index: 1000; }
nav#langue ul.niveau2 li:hover{   }
nav#langue ul li:hover{  }
nav#langue img{ margin: 0 10px 0 0; }
/*************** FIN CSS MENU *****************/

.conteneur  .milieu-haut  { height: 400px; }
.conteneur  .fond-animation  { background: url(img/diaporama/encadre_diaporama.png) top right no-repeat; }
.conteneur  .milieu  {  margin: 10px 0 0 0; /*background: pink; */ }
.conteneur  .milieu-carrieres  {  margin: 10px 0 0 0; /*background: pink; */ }
.conteneur  .milieu-bas  {  margin: 40px 0 0 0; background: #454545; border-radius: 10px; padding: 10px; color: #fff;  }
.conteneur  .milieu-bas  a { color: #c1eaf1;  }

footer{  padding: 15px 0 0 0; height: 60px;  /* border: 1px solid; */ color: #05a9c5;  }
footer  a{ color: #05a9c5;  }	

.clear{ clear: both; }
.italic{ font-style: italic; }
.slogan{  margin: 0 0 0 20px; font-size: 12px; /*background: green;*/ }
.dore{ color: #c1eaf1; }
.journal{ margin: 5px 5px 5px 22px; }
.titre-vert{color: #04a9c5;}
.gras{font-weight: bold;}
.grandtitre{ font-size: 23px; background: url(img/petite_fleche_gauche.png) left center no-repeat; padding: 0 0 0 50px; margin: 0 0 10px; }
.sous-titre-texte{ font-size: 16px; color: #dc1c45; }
.trait-rouge{ border-bottom: 2px solid #dc1c45; border-bottom: 2px solid #dc1c45; padding: 5px 0 5px 0; display: block; margin: 0 0 10px 0;	}
.trait-rouge-un{ border-bottom: 2px solid #dc1c45; border-bottom: 2px solid #dc1c45; padding: 5px 0 5px 0; display: block; margin: 0 0 10px 281px;	}
.souligne{text-decoration: underline; }
.ombre{box-shadow: 3px 3px 5px #c3c3c3 ; }
/*---------------------------------------------------------------------------------------------------------*/

.cadre{
	float: left;
	margin: 0 11px 0 0;
	background: #fff;
    border: 1px solid #CACCCD;
    border-radius: 5px;
/*    box-shadow: 0 0 15px #AAAAAA; */
	width: 320px;
}
.deuxieme-cadre{ margin: 0 6px 0 6px;}
.troisieme-cadre{ margin: 0 0 0 11px; }
/*****************************************************************************************************************/
.cadre h2{
border-radius: 5px 5px 0 0;
background: #c1eaf1; 
border-bottom: 1px solid #CACCCD;
font-size: 15px;
margin: 0;
padding: 8px 0;
text-align: center;
color: #606164;
font-size: 17px;
}
.cadre p{ padding: 10px; }
.cadre a{
display: block;
border-top: 1px solid #CACCCD;
padding: 5px 5px 5px 33px;
text-decoration: none;
background: url(img/plus.png) 10px center no-repeat;
}
.cadre a:hover{ background: url(img/plus.png) 10px center no-repeat #c1eaf1; color: #000; }
.cadre a:last-child{padding: 4px 4px 4px 33px; }
.cadre a:hover:last-child{ border-radius: 0 0 4px 4px; /* pour éviter débordement lors du hover */
}
