.conteneur{
	width: 80%;
	background: #40A497;
	margin: 0 auto;
	color: #fff;
}
header{
	min-height: 15vh;
	background: #A4409A;
}
nav{
	min-height: 5vh;
	background: yellow;	
}
section{
	background: #89297C;
	min-height: 50%;
}
.a, .c, .e, .g{
	width: 25%;
	float: left;
	min-height: 20vh;
}
.b, .f{
	width: 50%;
	float: left;
	min-height: 20vh;
}
.d{
	width: 100%;
	float: left;
	min-height: 20vh;
}
.a{
	background: red;
}
.b{
	background: blue;
}
.c{
	background: green;
}
.d{
	background: pink;
}
.e{
	background: purple;
}
.f{
	background: brown;
}
.g{
	background: gray;
}
footer{
	min-height: 15vh;
	background: #E80B28;
} 
.clear{
	clear: both;
}




























