body{
margin: 0;
background: #fbf8f9;
font-family:Trebuchet MS;
font-size: 14px;
}
h1,h2,h3,p,ul,li,a{ margin: 0; padding: 0; text-decoration: none; }
header, footer{
background: #e5e5e5;
padding: 5px 0;
}
header #haut{ /*background: #f231f3;*/ width: 1000px; margin: 0 auto; height: 80px;}
header #haut .logo{ float: left; padding: 0 10px; /*border: 1px solid;*/ }
header #haut .slogan{ float: left; padding: 0 10px; /*border: 1px solid;*/ width: 295px; }
header #haut  h1{ margin: 0; color: #fff; float: left; font-size: 40px;}
header #haut  p{ font-style: italic; float: left; }

footer{ border-top: 2px solid #a8a6a6; height: 60px;}

#haut .information{ width: 250px; /*background: purple;*/ float: right; }
#haut .information .aide{ color: #3fc9fa; font-size: 26px; }
#haut .information .tel{ width: 135px; background: url(aide.png) no-repeat; color: #3fc9fa; padding: 1px 0 0 45px; display: block; height: 23px; font-weight: bold; float: left;  font-size: 15px; margin: 0 0 0 27px;}
#haut .information .horraire{ color: #b2b3b2; font-style: italic; }


nav{
background: #8dd1fd;
height: 30px;
border-top: 1px solid #26aaff;
border-bottom: 1px solid #26aaff;
}
nav #menu, section, footer #bas{ margin: 0 auto; width: 1000px; }
#menu a{
display: inline;
margin: 0 10px;
text-decoration: none;
line-height: 30px;
padding: 6px 10px;
color: #fff;
font-weight: bold;
}
#menu a:hover{
background: #fff;
color: #000;
}

#contenu{
float: left;
width: 680px;
padding: 15px;
/*background: #21f323;*/
}
#droite{
float: left;
width: 260px;
padding: 15px;
/*background: #f96f3f;*/
}
.clear{ clear: both; }


.bloc{ width: 260px; border: 1px solid #B2B3B2; border-radius: 10px; box-shadow: 1px 1px 6px; float: left; margin: 10px 0; }
.bloc h2{ background: #d9d9d9; font-size: 15px; text-align: center; padding: 3px 0; border-radius: 10px 10px 0 0; }
.bloc div{ padding: 10px; background: #fff; border-radius: 0 0 10px 10px; }
.bloc div a{ text-align: center; display: block; text-decoration: underline; font-size: 13px; margin: 10px 13px 0 0; color: #3fc9fa; font-weight: bold; }